<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
    <link src="index.css"/>
  </head>
  <body>
    <div id="app">
      <item v-for="listItem in list"
            v-bind:item="listItem"
            v-bind:key="listItem.id"></item>
      <div>
        <input v-model="newItem.name">
        <input v-model="newItem.amount">
        <button v-on:click="blabla">Add item</button>
      </div>
    </div>
    <script>
        var firebaseApp = firebase.initializeApp({
            databaseURL: "https://spisak-9ca30.firebaseio.com",
        });
        var db = firebaseApp.database();
    </script>
    <script src="index.js"></script>
  </body>
</html>
